.bg {
    -fx-background-color: white;
    -fx-background-radius: 20px 0px 0px 20px;
}

.sideboard {
    -fx-background-color: #8fc886;
    -fx-background-radius: 0px;
}

.topbar {
    -fx-background-color: #a5faa3;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-border: 0px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-alignment: none;
    -fx-padding: 0 0 0 20px;
    -fx-font-weight: bold;
}

.selected {
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(0, 0, 0);
}

.svg-path {
    -fx-stroke: white;             /* Couleur du contour */
    -fx-fill: transparent;
    -fx-stroke-width: 2px;         /* Épaisseur du contour */
    -fx-stroke-linecap: round;     /* Style de l'extrémité du contour */
    -fx-stroke-linejoin: round;    /* Style de l'angle du contour */
    -fx-scale-x: 1.5; /* Échelle horizontale */
    -fx-scale-y: 1.5; /* Échelle verticale */
}

.selected .svg-path {
    -fx-stroke: rgb(0, 0, 0);
}

.nav-button:hover {
    -fx-text-fill: rgb(0, 0, 0);
}

.nav-button:hover .svg-path{
    -fx-stroke: rgb(0, 0, 0);
}


